<ion-view title="Dashboard">
  <ion-content class="padding">
    <h1>My Items</h1>
    <div class="list list-inset" ng-controller="cardController">
      <div class="item" ng-repeat="item in myItems">
        
          <div> <p>1234</p>
            <div id="thumbnails">
              <!--Insert product image here-->
              <img src="{{item.imageUrl}}"/>
            </div>
            <div id= "description">
              <!--price, and name, make sure image and text sit well together -->
              <ul>
              <!--<li>Brand <span id= "brandname"></span></li>-->
              <li>Item <span id= "name">{{item.name}}</span></li>
              <li>Price <span id= "price">{{item.price}}</span></li>
              </ul>
            </div>
          </div> 
        </div>
</div>
  </ion-content>
</ion-view>
